%section
  %h2= title('Weclome')
  %p
    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    Mauris maximus vulputate gravida.
    Integer eget mauris at orci molestie porta.
  %p
    In scelerisque leo vitae lacus commodo, eu tincidunt nisi suscipit.
    Pellentesque at sapien duiDuis sit amet arcu non ante sodales varius.
    Fusce nibh nulla, mollis a dolor eu, iaculis pharetra lectus.
    Sed turpis quam, imperdiet ut faucibus sit amet, efficitur ut nulla.
    Duis non accumsan lacus.
    Vestibulum nec diam quis dui convallis rhoncus quis sit amet massa.
    Maecenas ac est purus. Aliquam erat volutpat.
    Vestibulum tempus pharetra viverra.
    Etiam vestibulum et elit in vulputate.
    Quisque eget elementum purus, id volutpat augue.